# Supabase / Prisma
DATABASE_URL="postgresql://postgres.[project-ref]:[password]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[project-ref]:[password]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"

# Supabase Storage (Admin)
NEXT_PUBLIC_SUPABASE_URL=https://[project-ref].supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# MercadoPago
MP_ACCESS_TOKEN=APP_USR-your-access-token-here
NEXT_PUBLIC_MP_PUBLIC_KEY=APP_USR-your-public-key-here

# Email (Resend)
RESEND_API_KEY=

# Auth
AUTH_SECRET=change-in-prod
NEXTAUTH_URL=https://jkww2n5q-3000.brs.devtunnels.ms/

# App
NEXT_PUBLIC_BASE_URL=https://jkww2n5q-3000.brs.devtunnels.ms/
